@font-face {
    font-family: 'newyork';
    src: url(content/newyork.otf) format('opentype');
}

:root {
    --coeff: calc(1vh + 1vw);
    --licksFontColorHover: rgb(0, 90, 90);
    --licksBeforeColorHover: rgba(174, 0, 255, 0.15);
    --licksBeforeColorHover: rgba(174, 0, 255, 0.15);
    --backgroundColor: rgb(212, 212, 212);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--backgroundColor);
    background-image: url(content/noise.png);
    background-size: cover;
    background-repeat: repeat;
}

.license {
    display: flex;
    padding: 2vh 2vw;
    flex-direction: row;
    justify-content: space-around;
}

@media screen and (max-width: 768px) {
    .license {
        flex-direction: column;
        text-align: center;
    }
}

.license p,
.license a {
    position: relative;
    font-size: calc(var(--coeff) * 1.3);
    color: inherit;
    transition: color 0.3s ease;
    font-family: 'newyork';
}

.license a::before {
    position: absolute;
    padding: 1px 2px;
    content: '';
    display: block;
    top: 0px;
    left: -2px;
    height: 100%;
    background-color: var(--licksBeforeColorHover);
    border-radius: 2px;
    width: 2px;
    opacity: 0;
    transition: width 0.3s ease, opacity 0.1s ease;
}

.license a:hover {
    color: var(--licksFontColorHover);
}

.license a:hover::before {
    width: 100%;
    opacity: 1;
}

header {
    padding: 5vh 10vw 1vh;
    text-align: center;
    font-size: calc(var(--coeff) * 5);
    font-family: 'newyork', monospace;
}

main {
    display: grid;
    grid-template-columns: 6.25% 6.25% 6.25% 6.25% 6.25% 6.25% 6.25% 6.25% 6.25% 6.25% 6.25% 6.25% 6.25% 6.25% 6.25% 6.25%;
    grid-template-rows: 70vw;
}

.image_container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.image_container img {
    position: absolute;
    width: 1680%;
    top: -10%;
    transition: transform 20s ease;
}

main:hover .hand_2 {
    transform: translateX(5%);
}

main:hover .hand_1 {
    transform: translateX(-5%);
}
